<form action="/users/{{user.id}}">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" value="{{user.name}}">
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" class="form-control-file" id="image" name="image">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>